.cart_button__second {
  margin-left: 307px;
}

.quantity {
  width: 40px;
  height: 25px;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
  text-align: center;
}

.cartsum {
  background-color: #F5F3F3;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 42px;
  margin-bottom: 342px;
}

.cartsum a {
  display: inline-block;
}

.cartsum_txt {
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
  margin-bottom: 12px;
  padding-top: 39px;
  padding-right: 34px;
}

.cartsum_txt span {
  margin-left: 30px;
}

.cartsum_grandtxt {
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-top: 12px;
  padding-right: 34px;
}

.cartsum_grandtxt span {
  color: #F16D7F;
  margin-left: 30px;
}

.cartsum_button {
  display: inline-block;
  text-align: center;
  justify-content: center;
  background: #F16D7F;
  border: 1px solid transparent;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
}

.cartsum_button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cartsum_gray_line {
  border: 1px solid #EAEAEA;
  background-color: #EAEAEA;
  margin-top: 21px;
  margin-bottom: 17px;
  margin-left: 43px;
  margin-right: 43px;
}

.itemm_cart {
  display: flex;
  width: 655px;
  background-color: #FFFFFF;
  box-shadow: 15px 15px 5px -5px rgba(0, 0, 0, 0.2);
  margin-right: 128px;
  position: relative;
}

.itemm_cart__second {
  margin-top: 40px;
}

.itemm_cart .itemm_img {
  width: 35%;
  display: block;
}

.itemm_cart .itemm-descripton {
  margin-bottom: 62px;
  width: 400px;
}

.itemm_cart .itemm-descripton h3 {
  width: 228px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 24px;
  margin-left: 31px;
  color: #222222;
  margin-bottom: 42px;
}

.itemm_cart .itemm-descripton p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-left: 31px;
}

.itemm_cart .itemm-descripton p span {
  color: #F16D7F;
}

.itemm_cart .fa-xmark {
  display: inline-block;
  position: absolute;
  font-size: 30px;
  z-index: 1;
  color: #575757;
  left: 95%;
  top: 10%;
}

.itemm_cart .fa-xmark:hover {
  color: #F16D7F;
}

.cart_button {
  background: #FFFFFF;
  color: #A4A4A4;
  border: 1px solid #A4A4A4;
  padding: 12px 20px;
  margin-top: 43px;
  margin-bottom: 60px;
}

.cart_button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
