// catalog

@import "_vars";

.cat-filter {
    background-color: #fff;

    .filter_flex {
        display: flex;

        .filter-relative {
            display: flex;
            position: relative;
        }

        .filter-sign {
            display: flex;
            align-items: center;

            p {
                display: inline-block;
                height: 20px;
                padding-right: 11px;

            }

            i {
                display: inline-block;
                font-size: 16px;
            }

            &:hover {
                color: $pink_color;
            }
        }


    }

    .select_box {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 340px;

        &_cat {
            align-items: center;
            justify-content: center;
        }

        &__cat {
            padding-top: 50px;
        }
    }

    // фильтр
    .filter-link_box {
        padding-top: 20px;
        margin-bottom: 24px;
        //     display: flex;
        //     flex-direction: column;
        font-weight: 400;

        .filter-link {
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            padding-top: 12px;
        }

        .filter-link:hover {
            color: $pink_color;

        }
    }

    .filter-box {
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
        position: absolute;
        top: 80px;
        padding: 20px;
        display: none;
        z-index: 1;
    }

    .filter-heading {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $pink_color;
        width: 235px;
        padding: 10px;
        border-bottom: 1px solid #EBEBEB;

        &_brand {
            padding-bottom: 18px;
        }

        &:hover .filter-link_box {
            display: block;
        }

        &:hover {
            color: $pink_color;
            font-weight: 500;
        }
    }

}

.filter-relative:hover .filter-box {
    display: block;
}

.filter-heading_box {
    display: flex;
}

.accordion input {
    display: none;
}

.accordion__content {
    display: none;
}

.accordion input:checked~.accordion__content {
    display: block;
    display: flex;
    flex-direction: column;
}

.accordion__header {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.accordion__header:hover {
    color: $pink_color;
    font-weight: 500;
}


//pagination
.pagination-box {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.pagination {
    display: flex;
    padding: 0;
    margin: 20px 0 96px;
    width: 380px;
    padding: 10px;
    text-align: center;
    align-self: center;

    i {
        color: #000000;
    }

}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: #9F9F9F;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #ddd;
    color: $pink_color;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

@media (min-width: 375px) and (max-width: 1024px) {
    .container-main {
        width: 74%;
        margin: 0 auto;
    }

    #hide {
        display: none;
    }

    .form {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .form .part1 {
        width: 300px;
        align-self: center;
        padding-bottom: 40px;
    }

    .form .part2 {
        padding-right: 0;
    }

    .select_box {
        width: 100%;
        padding-left: 378px;
    }
}

@media (max-width: 376px) {
    .container-main {
        width: 85%;
        margin: 0 auto;
    }

    #hide {
        display: none;
    }

    .pro-top {
        h2 {
            display: inline-block;
            padding-bottom: 20px;
        }

        display: flex;
        flex-direction: column;
        align-self: center;
        padding-top: 10px;
    }

    .cat-filter .select_box {
        padding-left: 5px;
    }

    .select_box {
        select {
            margin-right: 0;
        }
    }


    .form .email {
        width: 200px {
            width: 200px;
        }
    }

    .footer {
        flex-direction: column;
    }

    .icons,
    .footer__text {
        align-self: center;
    }

    .footer__text {
        padding-bottom: 20px;
    }
}