.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items .i_button {
  display: inline-block;
  text-align: center;
  justify-content: center;
  background: #F16D7F;
  border: 1px solid transparent;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
}

.items .i_button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.itemm {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.itemm:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.itemm:hover .itemm_img {
  filter: brightness(30%);
}

.itemm:hover .add-box {
  display: flex;
}

.itemm a:hover {
  text-decoration: none;
}

.itemm_img {
  width: 100%;
}

.itemm h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-left: 20px;
  padding-top: 25px;
}

.itemm_txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-bottom: 17px;
  padding-left: 20px;
  width: 90%;
}

.itemm .i_prise {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 20px;
}

.itemm_button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
}

.add-box {
  display: none;
  position: absolute;
  top: 188px;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add-box .add {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #fff;
  pointer-events: all;
}

.add-box .add:hover {
  box-shadow: 0 0 10px #fff;
}

.add-box .add_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 8px;
}
