.for_image {
    background-image: url(images/1_fon.png);
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;

    .logo {
        margin-right: 42px;
    }

    .gamburger {
        padding-top: 3px;
    }

    .left_mini {
        padding-left: 20px;
    }

    .cartIconWrap {

        span {
            display: inline-block;
            position: absolute;
            background-color: #F16D7F;
            padding: 4px 8px;
            font-weight: bold;
            border-radius: 25px;
        }
    }

    .rightHeader {
        position: relative;
    }

    .hidden {
        display: none;
    }

    .basket {
        position: absolute;
        z-index: 3;
        right: 0;
        top: 37px;
        background: white;
        padding: 10px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        font-size: 14px;
    }

    @media (min-width: 340px) {
        .basket {
            font-size: 16px;
        }
    }

    @media (min-width: 552px) {
        .basket {
            width: 500px;
        }
    }

    .basketRow {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 10px;
    }

    .basketHeader {
        font-weight: bold;
    }

    .basketTotal {
        font-weight: bold;
        text-align: right;
    }

    .left_menu {
        position: relative;
        display: flex;
    }

    .mega-box {
        border-radius: 5px;
        background-color: #FFFFFF;
        border: 1px solid #6F6E6E;
        position: absolute;
        top: 45px;
        left: -40px;
        padding: 20px;
        display: none;
        z-index: 1;
    }

    .mega-box::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        position: absolute;
        top: -6px;
        left: 69px;
        transform: rotate(45deg);
        border-left: 1px solid #6F6E6E;
        border-top: 1px solid #6F6E6E;
    }

    .main_heading {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    .mini-heading {
        width: 235px;
        padding: 12px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        text-transform: uppercase;
        border-bottom: 1px solid #6F6E6E;

    }

    .mega-link {
        display: block;
        line-height: 28px;
        font-weight: 400;
        font-size: 14px;
        color: #6F6E6E;
        text-decoration: none;
    }

    .mega-link:hover {
        color: #F16D7F;
    }

    .gamburger:hover .mega-box {
        display: block;
    }
}