// Без слайдера первый вариант
@import "_vars";


.product {
    height: 148px;
    background: #F8F3F4;

    .pro-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 59px;
    }

    .pro-heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
    }

    .pro-breadcrumb {

        &_words li {
            display: inline;
        }

        &_words li a {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
            ;
        }

        &_words li a:hover {
            text-decoration: underline;
            color: #636363;
            ;
        }

        &_words li+li::before {
            padding: 5px;
            content: "/";
            color: #636363;
        }


        .pink_text {
            color: #EF5B70;
            font-weight: 700;
        }
    }
}

.product_box {
    height: 601px;
    display: flex;
    justify-content: center;
    padding-bottom: 128px;
}

.product_about {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAEAEA;
    width: 1141px;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    transform: translateY(-50px);
    background-color: #FFFFFF;

    .product_heading {
        padding-top: 65px;
        padding-bottom: 12px;
        color: #EF5B70;

    }

    .product_inf {
        display: inline-block;
        width: 555px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5E5E5E;
        background-color: #FFFFFF;
        padding-top: 12px;
        padding-bottom: 50px;
    }
}

.product_txt {
    font-weight: 300;
    font-size: 14px;
}

.product_link {
    text-decoration: none;
    color: #636363;
}

.pink {
    display: inline-block;
    color: #F16D7F;
    padding-bottom: 12px;
}

.pro-card {
    background-color: #F8F3F4;
    display: flex;
    align-items: center;
}

a {
    display: inline-block;
}

.product_card {
    justify-content: center;
    display: flex;
    padding-bottom: 80px;
    width: 100%;
    height: 777px;
    position: relative;

}

.price {
    display: inline-block;
    font-size: 24px;
    padding-bottom: 65px;
}

.product_inf {
    display: inline-block;
    width: 555px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    background-color: #FFFFFF;
}

.inf_main {
    font-size: 18px;
    color: #4D4D4D
}

.pink_line {
    display: inline-block;
    justify-content: center;
    width: 63px;
    height: 3px;
    background-color: #EF5B70;
}

.gray_line {
    border: 1px solid #EAEAEA;
    width: 641px;
    background-color: #EAEAEA;
}

.select_box {
    padding-top: 65px;

    select {
        border: none;
        margin-right: 22px;
        margin-bottom: 48px;
    }
}

.pro_button {
    display: inline-block;
    display: flex;
    padding-bottom: 65px;

    i {
        display: inline-block;
    }

    p {
        display: inline-block;
        padding-left: 8px;
    }

}

.container-pro {
    width: 1140px;
    padding-left: 40px;
    margin: 0 auto;
}

.pro-items {
    padding-bottom: 128px;
}

.icon_arrow {
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    display: flex;
    display: inline-block;

    i {
        display: inline-block;
        display: flex;
        font-size: 24px;
        justify-content: center;
        padding-top: 12.65px;
    }


    &:hover {
        color: #F16D7F;
    }
}



.pro-icon {
    display: inline-block;
    width: 24px;
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 5px;
}

.pro-icon:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

.add-box {
    p {
        margin: 0;
        margin-left: 5px;
    }
}

.rotate:hover {
    transition: all 0.5s;
    transform: rotate(360deg);
}

.icon:hover,
.button,
.pro-icon {
    transition: all 0.3s;
    transform: scale3d(1.2);
}

.cattrans-1,
.cattrans-2,
.cattrans-3,
.cattrans-4 {
    border: 3px solid transparent;
}

.cattrans-1:hover {
    transition: all 0.3s;
    transform: scale(1.3) translate(100px, 40px);
    z-index: 1;
    border: 3px solid #F16D7F;
}

.cattrans-2:hover {
    transition: all 0.3s;
    transform: scale(1.3);
    z-index: 1;
    border: 3px solid #F16D7F;
}

.cattrans-3:hover {
    transition: all 0.3s;
    transform: scale(1.3) translate(-100px, 40px);
    z-index: 1;
    border: 3px solid #F16D7F;
}

.cattrans-4:hover {
    transition: all 0.3s;
    transform: scale(1.3);
    z-index: 1;
    border: 3px solid #F16D7F;
}