* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Lato', sans-serif;

    a {
        text-decoration: none;
    }
}

@import "_vars";

.container-main {
    width: $width-cont;
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
}

@import "_menu";

@import "_items";

@import "_footer";

@import "_registration";

@import "_product";

@import "_product-carusel";

@import "_cart";

// Главная страница
// Баннер

.for_image_2 {
    background: #F1E4E6;

    .man_block {
        display: flex;
    }

    .banner {
        display: flex;
        align-items: center;

    }

    .banner__text {
        font-family: 'Lato';
    }

    .brand_text {
        display: block;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 50px;
        color: #222222;
        padding-left: 16px;
    }

    .luxerious_text {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        line-height: 38.4px;
        color: #222222;
        padding-left: 16px;
    }

    .fashion_text {
        color: $pink_color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        line-height: 38.4px;
        margin-left: 5px;
    }
}

// Категории
// 3 категории

.categories_box {
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
}

.categoria {
    position: relative;
}

.categoria__text {
    position: absolute;
    left: 30%;
    top: 45%;
    text-align: center;
    text-decoration: none;
}

// Аксессуары
.categoria_acc {
    padding-top: 32px;
    position: relative;
}

.accesories {
    display: flex;
    left: 520px;
    top: 100px;
}

.first_text {
    color: #FFFFFF;
    font-size: 16px;
}

.second_text {
    color: #F16D7F;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 38.4px;
}

// Заголовок карточек
.i_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 48px;

    h3 {
        display: inline-block;
        font-size: 30px;
        padding-bottom: 6px;

    }

    p {
        display: inline-block;
        font-size: 14px;
        color: #9F9F9F;

    }
}

// Скидки и доставка
.for_image_3 {
    background-image: url(images/signs.png);
}

.signs_box {
    display: flex;
    padding-top: 103px;
    padding-bottom: 104px;
    justify-content: space-between;

    .signs {
        text-align: center;

        &:hover {
            transition: all 0.3s;
            transform: scale(1.3);
        }

    }

    .sign__text {
        display: inline-block;
        text-decoration: none;
        color: #FBFBFB;
        width: 340px;
    }

    .sign_mtext {
        padding-top: 30px;
        display: inline-block;
        padding-bottom: 16px;
        font-size: 19.96px;
    }

    .sign_text {
        font-size: 13.972px;
    }
}

// КНОПКА
.i_button {
    display: inline-block;
    text-align: center;
    justify-content: center;
    background: #F16D7F;
    border: 1px solid transparent;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

.i_button:hover {
    background: #FFFFFF;
    color: #F16D7F;
    border: 1px solid #F16D7F;
}