* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Lato', sans-serif;
}

.for_image {
  background-image: url(images/1_fon.png);
}

.container {
  width: 1140px;
  position: relative;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  margin-right: 42px;
}

.gamburger {
  padding-top: 3px;
}

.left_mini {
  padding-left: 20px;
}

.left_menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mega-box {
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #6F6E6E;
  position: absolute;
  top: 45px;
  left: -40px;
  padding: 20px;
  display: none;
  z-index: 1;
}

.mega-box::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  position: absolute;
  top: -6px;
  left: 69px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #6F6E6E;
  border-top: 1px solid #6F6E6E;
}

.main_heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.mini-heading {
  width: 235px;
  padding: 12px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  border-bottom: 1px solid #6F6E6E;
}

.mega-link {
  display: block;
  line-height: 28px;
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
  text-decoration: none;
}

.mega-link:hover {
  color: #F16D7F;
}

.gamburger:hover .mega-box {
  display: block;
}

.for_image_2 {
  background: #F1E4E6;
}

.man_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand_text {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  color: #222222;
  padding-left: 16px;
}

.luxerious_text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #222222;
  padding-left: 16px;
}

.fashion_text {
  color: #F16D7F;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  margin-left: 5px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__text {
  font-family: 'Lato';
}

.categories_box {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categoria__text {
  position: absolute;
  left: 30%;
  top: 45%;
  text-align: center;
  text-decoration: none;
}

.categoria {
  position: relative;
}

.first_text {
  color: #FFFFFF;
  font-size: 16px;
}

.second_text {
  color: #F16D7F;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 38.4px;
}

.categoria_acc {
  padding-top: 32px;
  position: relative;
  padding-bottom: 32px;
}

.accesories {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  left: 520px;
  top: 100px;
}

.for_image_3 {
  background-image: url(images/signs.png);
}

.signs_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 103px;
  padding-bottom: 104px;
}

.signs {
  text-align: center;
  padding-left: 30px;
}

.sign__text {
  display: inline-block;
  text-decoration: none;
  color: #FBFBFB;
}

.sign_mtext {
  padding-top: 30px;
  display: inline-block;
  padding-bottom: 16px;
  font-size: 19.96px;
}

.sign_text {
  font-size: 13.972px;
}

.for_image_4 {
  background-image: url(images/footer_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.subscribe__img {
  padding-bottom: 40px;
}

.subscribe_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_text {
  text-align: center;
}

.subscribe__text {
  padding-top: 15px;
}

.part1 {
  width: 300px;
  text-align: center;
}

.part2 {
  padding-right: 100px;
}

.subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email {
  width: 230px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  padding-left: 20px;
  border-radius: 50px 0 0 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe__input {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  width: 100px;
  height: 49px;
  background: #F16D7F;
  border: 1px solid transparent;
  border-radius: 0 50px 50px 0;
  margin-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

.button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.for_image_5 {
  background-image: url(images/footer_finish.png);
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
/*# sourceMappingURL=style_1.css.map */