* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Lato', sans-serif;

    a {
        text-decoration: none;
    }
}

@import "_vars";
@import "_items";

.for_image {
    background-image: url(images/1_fon.png);
}

.container-main {
    width: $width-cont;
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;

    .logo {
        margin-right: 42px;
    }

    .gamburger {
        padding-top: 3px;
    }

    .left_mini {
        padding-left: 20px;
    }

    .left_menu {
        position: relative;
        display: flex;
    }

    .mega-box {
        border-radius: 5px;
        background-color: #FFFFFF;
        border: 1px solid #6F6E6E;
        position: absolute;
        top: 45px;
        left: -40px;
        padding: 20px;
        display: none;
        z-index: 1;
    }

    .mega-box::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        position: absolute;
        top: -6px;
        left: 69px;
        transform: rotate(45deg);
        border-left: 1px solid #6F6E6E;
        border-top: 1px solid #6F6E6E;
    }

    .main_heading {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    .mini-heading {
        width: 235px;
        padding: 12px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        text-transform: uppercase;
        border-bottom: 1px solid #6F6E6E;

    }

    .mega-link {
        display: block;
        line-height: 28px;
        font-weight: 400;
        font-size: 14px;
        color: #6F6E6E;
        text-decoration: none;
    }

    .mega-link:hover {
        color: #F16D7F;
    }

    .gamburger:hover .mega-box {
        display: block;
    }
}

.for_image_2 {
    background: #F1E4E6;
}

.man_block {
    display: flex;
}

.brand_text {
    display: block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    color: #222222;
    padding-left: 16px;
}

.luxerious_text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: #222222;
    padding-left: 16px;
}

.fashion_text {
    color: $pink_color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    margin-left: 5px;
}

.banner {
    display: flex;
    align-items: center;

}

.banner__text {
    font-family: 'Lato';
}

.categories_box {
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
}

.categoria__text {
    position: absolute;
    left: 30%;
    top: 45%;
    text-align: center;
    text-decoration: none;
}

.categoria {
    position: relative;
}

.first_text {
    color: #FFFFFF;
    font-size: 16px;
}

.second_text {
    color: #F16D7F;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 38.4px;
}

.categoria_acc {
    padding-top: 32px;
    position: relative;
}

.accesories {
    display: flex;
    left: 520px;
    top: 100px;
}

.for_image_3 {
    background-image: url(images/signs.png);
}

.signs_box {
    display: flex;
    padding-top: 103px;
    padding-bottom: 104px;
    justify-content: space-between;

    .signs {
        text-align: center;

        &:hover {
            transition: all 0.3s;
            transform: scale(1.3);
        }

    }

    .sign__text {
        display: inline-block;
        text-decoration: none;
        color: #FBFBFB;
        width: 340px;
    }

    .sign_mtext {
        padding-top: 30px;
        display: inline-block;
        padding-bottom: 16px;
        font-size: 19.96px;
    }

    .sign_text {
        font-size: 13.972px;
    }
}

.for_image_4 {
    background-image: url(images/footer_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;

    .subscribe__img {
        padding-bottom: 40px;
    }


    .subscribe_part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe_text {
        text-align: center;
    }

    .subscribe__text {
        padding-top: 15px;
    }

    .part1 {
        width: 300px;
        text-align: center;
    }

    .part2 {
        padding-right: 100px;
    }

    .subscribe__input {
        display: flex;
    }

    .email {
        width: 230px;
        height: 49px;
        background: #E1E1E1;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 50px 0 0 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #222224;
        opacity: 0.67;

    }

    .subscribe__input {
        padding-top: 32px;
        display: flex;
    }

    .button {
        width: 100px;
        height: 49px;
        background: #F16D7F;
        border: 1px solid transparent;
        border-radius: 0 50px 50px 0;
        margin-left: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        display: block;
    }

    .button:hover {
        background: #FFFFFF;
        color: #F16D7F;
        border: 1px solid #F16D7F;
    }
}

.for_image_5 {
    background-image: url(images/footer_finish.png);
}

.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;

    &__text {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
        padding-top: 8px;
    }
}

// icons
.icon {
    display: inline-block;
    width: 22px;
    padding: 8px;
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 5px;
}

.icon:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

.i_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 48px;

    h3 {
        display: inline-block;
        font-size: 30px;
        padding-bottom: 6px;

    }

    p {
        display: inline-block;
        font-size: 14px;
        color: #9F9F9F;

    }
}


// product
.product {
    height: 148px;
    background: #F8F3F4;

    .pro-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 59px;
    }

    .pro-heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
    }

    .pro-breadcrumb {

        &_words li {
            display: inline;
        }

        &_words li a {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
            ;
        }

        &_words li a:hover {
            text-decoration: underline;
            color: #636363;
            ;
        }

        &_words li+li::before {
            padding: 5px;
            content: "/";
            color: #636363;
        }


        .pink_text {
            color: #EF5B70;
            font-weight: 700;
        }
    }
}

.product_box {
    height: 601px;
    display: flex;
    justify-content: center;
    padding-bottom: 128px;
    margin-bottom: 219px;
}

.product_about {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAEAEA;
    width: 1141px;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    transform: translateY(-50px);
    background-color: #FFFFFF;

    .product_heading {
        padding-top: 65px;
        padding-bottom: 12px;
        color: #EF5B70;

    }

    .product_inf {
        display: inline-block;
        width: 555px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5E5E5E;
        background-color: #FFFFFF;
        padding-top: 12px;
        padding-bottom: 50px;
    }
}

.product_txt {
    font-weight: 300;
    font-size: 14px;
}

.product_link {
    text-decoration: none;
    color: #636363;
}

.pink {
    display: inline-block;
    color: #F16D7F;
    padding-bottom: 12px;
}

.pro-card {
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}

a {
    display: inline-block;
}

.product_card {
    justify-content: center;
    display: flex;
    padding-bottom: 80px;
    width: 100%;
    height: 777px;
    position: relative;

}

.price {
    display: inline-block;
    font-size: 24px;
    padding-bottom: 65px;
}

.product_inf {
    display: inline-block;
    width: 555px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    background-color: #FFFFFF;
}

.inf_main {
    font-size: 18px;
    color: #4D4D4D
}

.pink_line {
    display: inline-block;
    justify-content: center;
    width: 63px;
    height: 3px;
    background-color: #EF5B70;
}

.gray_line {
    border: 1px solid #EAEAEA;
    width: 641px;
    background-color: #EAEAEA;
}

.select_box {
    padding-top: 65px;

    select {
        border: none;
        margin-right: 22px;
        margin-bottom: 48px;
    }
}

.pro_button {
    display: inline-block;
    display: flex;
    padding-bottom: 65px;

    i {
        display: inline-block;
    }

    p {
        display: inline-block;
        padding-left: 8px;
    }

}

.i_button {
    display: inline-block;
    text-align: center;
    justify-content: center;
    background: #F16D7F;
    border: 1px solid transparent;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;
}

.i_button:hover {
    background: #FFFFFF;
    color: #F16D7F;
    border: 1px solid #F16D7F;
}

.pro-items {
    padding-bottom: 128px;
}

.icon_arrow {
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    display: flex;
    display: inline-block;

    i {
        display: inline-block;
        display: flex;
        font-size: 24px;
        justify-content: center;
        padding-top: 12.65px;
    }


    &:hover {
        color: #F16D7F;
    }
}


// registration

.color_background {
    background-color: #FFFFFF;

    .registration_punkt {
        list-style-image: url(images/punkt.png);
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;

        &_txt,
        ul {
            padding-top: 22px;

        }

        p {
            display: inline-block;
            width: 652px;
        }

        li {
            padding-bottom: 16px;
            margin-left: 25px;
            padding-left: 23px;
        }

    }
}

.anketa {
    display: flex;
    padding-top: 64px;
    justify-content: space-between;

    &_part1 {
        margin-right: 130px;
    }

    ._name,
    .registration__input {
        margin-top: 20px;
    }

    .sex {
        margin: 33px auto;

        span {
            margin-right: 20px;
        }
    }

    ._name,
    .registration__input {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        width: 359px;
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .form__text {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        width: 359px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    ._name,
    .registration__input {
        border: 1px solid #A4A4A4;
    }

    .txt_anketa {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    .reg_button {
        i {
            padding-left: 20px;
        }

        margin-top: 39px;
        margin-bottom: 96px;
    }


}

// catalog
.cat-filter {
    background-color: #fff;

    .filter_flex {
        display: flex;

        .filter-relative {
            display: flex;
            position: relative;
        }

        .filter-sign {
            display: flex;
            align-items: center;

            p {
                display: inline-block;
                height: 20px;
                padding-right: 11px;

            }

            i {
                display: inline-block;
                font-size: 16px;
            }

            &:hover {
                color: $pink_color;
            }
        }


    }

    .select_box {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 340px;

        &_cat {
            align-items: center;
            justify-content: center;
        }

        &__cat {
            padding-top: 50px;
        }
    }

    .filter-link_box {
        padding-top: 20px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        font-weight: 400;

        .filter-link {
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            padding-top: 12px;
        }

        .filter-link:hover {
            color: $pink_color;

        }
    }

    .filter-box {
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
        position: absolute;
        top: 80px;
        padding: 20px;
        display: none;
        z-index: 1;
    }

    .filter-heading {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $pink_color;
        width: 235px;
        padding: 10px;
        border-bottom: 1px solid #EBEBEB;

        &_brand {
            padding-bottom: 18px;
        }
    }

}

.filter-relative:hover .filter-box {
    display: block;
}

.filter-heading_box {
    display: flex;
}

//pagination
.pagination-box {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.pagination {
    display: flex;
    padding: 0;
    margin: 20px 0 96px;
    width: 380px;
    padding: 10px;
    text-align: center;
    align-self: center;

    i {
        color: #000000;
    }

}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: #9F9F9F;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #ddd;
    color: $pink_color;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.container-items {
    width: 1140px;
    position: relative;
    padding-right: 40px;
    margin: 0 auto;
}

.pro-icon {
    display: inline-block;
    width: 24px;
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 5px;
}

.pro-icon:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

.add-box {
    p {
        margin: 0;
        margin-left: 5px;
    }
}

.rotate:hover {
    transition: all 0.5s;
    transform: rotate(360deg);
}

.icon:hover,
.button,
.pro-icon {
    transition: all 0.3s;
    transform: scale3d(1.2);
}

.cattrans-1,
.cattrans-2,
.cattrans-3,
.cattrans-4 {
    border: 3px solid transparent;
}

.cattrans-1:hover {
    transition: all 0.3s;
    transform: scale(1.3) translate(100px, 40px);
    z-index: 1;
    border: 3px solid #F16D7F;
}

.cattrans-2:hover {
    transition: all 0.3s;
    transform: scale(1.3);
    z-index: 1;
    border: 3px solid #F16D7F;
}

.cattrans-3:hover {
    transition: all 0.3s;
    transform: scale(1.3) translate(-100px, 40px);
    z-index: 1;
    border: 3px solid #F16D7F;
}

.cattrans-4:hover {
    transition: all 0.3s;
    transform: scale(1.3);
    z-index: 1;
    border: 3px solid #F16D7F;
}

// cart-page
.cart_button {
    background: #FFFFFF;
    color: #A4A4A4;
    border: 1px solid #A4A4A4;
    padding: 12px 20px;
    margin-top: 43px;
    margin-bottom: 60px;

    &:hover {
        color: $pink_color;
        border: 1px solid $pink_color;
    }
}

.cartsum {
    background-color: #F5F3F3;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 42px;
    margin-bottom: 342px;

    a {
        display: inline-block;
    }

    &_txt {
        text-align: right;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #222222;
        margin-bottom: 12px;
        padding-top: 39px;
        padding-right: 34px;

        span {
            margin-left: 30px;
        }
    }

    &_grandtxt {
        text-align: right;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        padding-top: 12px;
        padding-right: 34px;

        span {
            color: $pink_color;
            margin-left: 30px;
        }

    }

    &_button {
        display: inline-block;
        text-align: center;
        justify-content: center;
        background: #F16D7F;
        border: 1px solid transparent;
        padding: 15px 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        color: #FFFFFF;

        &:hover {
            background: #FFFFFF;
            color: #F16D7F;
            border: 1px solid #F16D7F;
        }
    }

    &_gray_line {
        border: 1px solid #EAEAEA;
        background-color: #EAEAEA;
        margin-top: 21px;
        margin-bottom: 17px;
        margin-left: 43px;
        margin-right: 43px;
    }
}

.itemm_cart {
    display: flex;
    width: 655px;
    background-color: #FFFFFF;
    box-shadow: 15px 15px 5px -5px rgba(0, 0, 0, .2);
    margin-right: 128px;
    position: relative;

    &__second {
        margin-top: 40px;
    }

    .itemm_img {
        width: 35%;
        display: block;
    }

    .itemm-descripton {
        margin-bottom: 62px;
        width: 400px;

        h3 {
            width: $width-cont/5;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            margin-top: 24px;
            margin-left: 31px;
            color: #222222;
            margin-bottom: 42px;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            margin-left: 31px;

            span {
                color: $pink_color;
            }
        }
    }

    .fa-xmark {
        display: inline-block;
        position: absolute;
        font-size: 30px;
        z-index: 1;
        color: #575757;
        left: 95%;
        top: 10%;

        &:hover {
            color: $pink_color;
        }
    }
}

.cart_button__second {
    margin-left: $width-cont/4+22px;
}

.quantity {
    width: 40px;
    height: 25px;
    border: 1px solid #EAEAEA;
    margin-left: 24px;
    text-align: center;
}