@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Lato', sans-serif;
}

* a {
  text-decoration: none;
}

.container-main {
  width: 1140px;
  position: relative;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
}

.for_image {
  background-image: url(images/1_fon.png);
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu .logo {
  margin-right: 42px;
}

.menu .gamburger {
  padding-top: 3px;
}

.menu .left_mini {
  padding-left: 20px;
}

.menu .left_menu {
  position: relative;
  display: flex;
}

.menu .mega-box {
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #6F6E6E;
  position: absolute;
  top: 45px;
  left: -40px;
  padding: 20px;
  display: none;
  z-index: 1;
}

.menu .mega-box::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  position: absolute;
  top: -6px;
  left: 69px;
  transform: rotate(45deg);
  border-left: 1px solid #6F6E6E;
  border-top: 1px solid #6F6E6E;
}

.menu .main_heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu .mini-heading {
  width: 235px;
  padding: 12px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  border-bottom: 1px solid #6F6E6E;
}

.menu .mega-link {
  display: block;
  line-height: 28px;
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
  text-decoration: none;
}

.menu .mega-link:hover {
  color: #F16D7F;
}

.menu .gamburger:hover .mega-box {
  display: block;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.i_button {
  display: inline-block;
  text-align: center;
  justify-content: center;
  background: #F16D7F;
  border: 1px solid transparent;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
}

.i_button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.itemm {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.itemm:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.itemm:hover .itemm_img {
  filter: brightness(30%);
}

.itemm:hover .add-box {
  display: flex;
}

.itemm a:hover {
  text-decoration: none;
}

.itemm_img {
  width: 100%;
}

.itemm h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-left: 20px;
  padding-top: 25px;
}

.itemm_txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-bottom: 17px;
  padding-left: 20px;
  width: 90%;
}

.itemm .i_prise {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 20px;
}

.itemm_button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
}

.add-box {
  display: none;
  position: absolute;
  top: 188px;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #fff;
  pointer-events: all;
}

.add:hover {
  box-shadow: 0 0 10px #fff;
}

.add_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 8px;
}

.for_image_4 {
  background-image: url(images/footer_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.form .subscribe__img {
  padding-bottom: 40px;
}

.form .subscribe_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form .subscribe_text {
  text-align: center;
}

.form .subscribe__text {
  padding-top: 15px;
}

.form .part1 {
  width: 300px;
  text-align: center;
}

.form .part2 {
  padding-right: 100px;
}

.form .subscribe__input {
  display: flex;
}

.form .email {
  width: 230px;
  height: 49px;
  background: #E1E1E1;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px 0 0 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.form .subscribe__input {
  padding-top: 32px;
  display: flex;
}

.form .button {
  width: 100px;
  height: 49px;
  background: #F16D7F;
  border: 1px solid transparent;
  border-radius: 0 50px 50px 0;
  margin-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

.form .button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.for_image_5 {
  background-image: url(images/footer_finish.png);
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 8px;
}

.icon {
  display: inline-block;
  width: 22px;
  padding: 8px;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  text-align: center;
  margin-right: 5px;
}

.icon:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.anketa {
  display: flex;
  padding-top: 64px;
  justify-content: space-between;
}

.anketa_part1 {
  margin-right: 130px;
}

.anketa ._name,
.anketa .registration__input {
  margin-top: 20px;
}

.anketa .sex {
  margin: 33px auto;
}

.anketa .sex span {
  margin-right: 20px;
}

.anketa ._name,
.anketa .registration__input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 359px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.anketa .form__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 359px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.anketa ._name,
.anketa .registration__input {
  border: 1px solid #A4A4A4;
}

.anketa .txt_anketa {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.anketa .reg_button {
  margin-top: 39px;
  margin-bottom: 96px;
}

.anketa .reg_button i {
  padding-left: 20px;
}

.color_background {
  background-color: #FFFFFF;
}

.color_background .registration_punkt {
  list-style-image: url(images/punkt.png);
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.color_background .registration_punkt_txt,
.color_background .registration_punkt ul {
  padding-top: 22px;
}

.color_background .registration_punkt p {
  display: inline-block;
  width: 652px;
}

.color_background .registration_punkt li {
  padding-bottom: 16px;
  margin-left: 25px;
  padding-left: 23px;
}

.product {
  height: 148px;
  background: #F8F3F4;
}

.product .pro-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 59px;
}

.product .pro-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.product .pro-breadcrumb_words li {
  display: inline;
}

.product .pro-breadcrumb_words li a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.product .pro-breadcrumb_words li a:hover {
  text-decoration: underline;
  color: #636363;
}

.product .pro-breadcrumb_words li + li::before {
  padding: 5px;
  content: "/";
  color: #636363;
}

.product .pro-breadcrumb .pink_text {
  color: #EF5B70;
  font-weight: 700;
}

.product_box {
  height: 601px;
  display: flex;
  justify-content: center;
  padding-bottom: 128px;
}

.product_about {
  display: flex;
  flex-direction: column;
  border: 1px solid #EAEAEA;
  width: 1141px;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  transform: translateY(-50px);
  background-color: #FFFFFF;
}

.product_about .product_heading {
  padding-top: 65px;
  padding-bottom: 12px;
  color: #EF5B70;
}

.product_about .product_inf {
  display: inline-block;
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  background-color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 50px;
}

.product_txt {
  font-weight: 300;
  font-size: 14px;
}

.product_link {
  text-decoration: none;
  color: #636363;
}

.pink {
  display: inline-block;
  color: #F16D7F;
  padding-bottom: 12px;
}

.pro-card {
  background-color: #F8F3F4;
  display: flex;
  align-items: center;
}

a {
  display: inline-block;
}

.product_card {
  justify-content: center;
  display: flex;
  padding-bottom: 80px;
  width: 100%;
  height: 777px;
  position: relative;
}

.price {
  display: inline-block;
  font-size: 24px;
  padding-bottom: 65px;
}

.product_inf {
  display: inline-block;
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  background-color: #FFFFFF;
}

.inf_main {
  font-size: 18px;
  color: #4D4D4D;
}

.pink_line {
  display: inline-block;
  justify-content: center;
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
}

.gray_line {
  border: 1px solid #EAEAEA;
  width: 641px;
  background-color: #EAEAEA;
}

.select_box {
  padding-top: 65px;
}

.select_box select {
  border: none;
  margin-right: 22px;
  margin-bottom: 48px;
}

.pro_button {
  display: inline-block;
  display: flex;
  padding-bottom: 65px;
}

.pro_button i {
  display: inline-block;
}

.pro_button p {
  display: inline-block;
  padding-left: 8px;
}

.container-pro {
  width: 1140px;
  padding-left: 40px;
  margin: 0 auto;
}

.pro-items {
  padding-bottom: 128px;
}

.icon_arrow {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  display: inline-block;
}

.icon_arrow i {
  display: inline-block;
  display: flex;
  font-size: 24px;
  justify-content: center;
  padding-top: 12.65px;
}

.icon_arrow:hover {
  color: #F16D7F;
}

.pro-icon {
  display: inline-block;
  width: 24px;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  text-align: center;
  margin-right: 5px;
}

.pro-icon:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.add-box p {
  margin: 0;
  margin-left: 5px;
}

.rotate:hover {
  transition: all 0.5s;
  transform: rotate(360deg);
}

.icon:hover,
.button,
.pro-icon {
  transition: all 0.3s;
  transform: scale3d(1.2);
}

.cattrans-1,
.cattrans-2,
.cattrans-3,
.cattrans-4 {
  border: 3px solid transparent;
}

.cattrans-1:hover {
  transition: all 0.3s;
  transform: scale(1.3) translate(100px, 40px);
  z-index: 1;
  border: 3px solid #F16D7F;
}

.cattrans-2:hover {
  transition: all 0.3s;
  transform: scale(1.3);
  z-index: 1;
  border: 3px solid #F16D7F;
}

.cattrans-3:hover {
  transition: all 0.3s;
  transform: scale(1.3) translate(-100px, 40px);
  z-index: 1;
  border: 3px solid #F16D7F;
}

.cattrans-4:hover {
  transition: all 0.3s;
  transform: scale(1.3);
  z-index: 1;
  border: 3px solid #F16D7F;
}

#slider {
  /*положение слайдера*/
  position: relative;
  text-align: center;
  top: 10px;
}

#slider {
  /*центровка слайдера*/
  margin: 0 auto;
}

#slides article {
  /*все изображения справа друг от друга*/
  width: 20%;
  float: left;
}

#slides .image {
  /*устанавливает общий размер блока с изображениями*/
  width: 500%;
  line-height: 0;
}

#overflow {
  /*сркывает все, что находится за пределами этого блока*/
  width: 100%;
  overflow: hidden;
}

article .photo-slider {
  /*размер изображений слайдера*/
  width: 60%;
}

#desktop:checked ~ #slider {
  /*размер всего слайдера*/
  max-width: 960px;
  /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
  background: url("images/prev.svg") no-repeat;
  /*заливка фона картинкой без повторений*/
  float: left;
  margin: 0 0 0 -84px;
  /*сдвиг влево*/
  display: block;
  height: 68px;
  width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
  background: url("images/prev.svg") no-repeat;
  transform: scale(-1, 1);
  /*заливка фона картинкой без повторений*/
  float: right;
  margin: 0 -84px 0 0;
  /*сдвиг вправо*/
  display: block;
  height: 68px;
  width: 68px;
}

#controls {
  display: block;
  align-items: center;
}

label,
a {
  /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer;
}

.all input {
  /*скрывает стандартные инпуты (чекбоксы) на странице*/
  display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image {
  margin-left: 0;
}

#switch2:checked ~ #slides .image {
  margin-left: -100%;
}

#switch3:checked ~ #slides .image {
  margin-left: -200%;
}

#switch4:checked ~ #slides .image {
  margin-left: -300%;
}

#switch5:checked ~ #slides .image {
  margin-left: -400%;
}

#controls {
  /*положение блока всех управляющих элементов*/
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  /*стиль отдельного переключателя*/
  border-radius: 10px;
  /*скругление углов*/
  display: inline-block;
  /*расположение в строку*/
  width: 15px;
  height: 15px;
  background: #bbb;
}

#active {
  /*расположение блока с переключателями*/
  margin: 23% 0 0;
  text-align: center;
}

#active label:hover {
  /*поведение чекбокса при наведении*/
  background: #76c8ff;
  border-color: #777 !important;
  /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
  background: #18a3dd;
  border-color: #18a3dd !important;
}

#slides .image {
  /*анимация пролистывания изображений*/
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#controls label:hover {
  /*прозрачность стрелок при наведении*/
  opacity: 0.6;
}

#controls label {
  /*прозрачность стрелок при отводе курсора*/
  transition: opacity 0.2s ease-out;
}

.models {
  height: 777px;
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grey_left {
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  position: relative;
}

.grey_right {
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  position: relative;
}

.grey_left::before {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
  border-left: 4px solid grey;
  border-bottom: 4px solid grey;
  left: 17px;
  top: 17px;
}

.grey_left:hover::before {
  border-left: 5px solid #F16D7F;
  border-bottom: 5px solid #F16D7F;
}

.grey_right::before {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
  border-top: 4px solid grey;
  border-right: 4px solid grey;
  left: 17px;
  top: 17px;
}

.grey_right:hover::before {
  border-top: 5px solid #F16D7F;
  border-right: 5px solid #F16D7F;
}

.models__photo {
  display: flex;
  justify-content: center;
}

.product__offer {
  position: relative;
}

.product__offer__content {
  background: white;
  width: 1141px;
  border: 1px solid grey;
  text-align: center;
  position: absolute;
  top: -64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__offer__h4 {
  padding-top: 64px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product__offer__content img {
  padding: 12px;
}

.product__offer__h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product__offer__text {
  padding-top: 48px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
}

.product__offer__price {
  padding-top: 32px;
  padding-bottom: 55px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.select__box {
  margin-top: 65px;
}

.product__catalog {
  height: 800px;
}

select {
  border: none;
  margin-right: 22px;
  margin-bottom: 48px;
}

#color,
#size,
#qnty {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: grey;
}

.product_sample {
  margin-top: 664px;
}

.product__section_button {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 65px;
}

.product__section_button_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 56px 14px 23px;
  border: 1px solid #FF6A6A;
  background: white;
  color: #F16D7F;
}

.product__section_button_text:hover {
  background: #F16D7F;
  color: white;
}

.product_sample {
  margin-bottom: 100px;
}

.fa-cart-shopping {
  margin-right: 22px;
  margin-left: 0;
}

.cart_button__second {
  margin-left: 307px;
}

.quantity {
  width: 40px;
  height: 25px;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
  text-align: center;
}

.cartsum {
  background-color: #F5F3F3;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 42px;
  margin-bottom: 342px;
}

.cartsum a {
  display: inline-block;
}

.cartsum_txt {
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
  margin-bottom: 12px;
  padding-top: 39px;
  padding-right: 34px;
}

.cartsum_txt span {
  margin-left: 30px;
}

.cartsum_grandtxt {
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-top: 12px;
  padding-right: 34px;
}

.cartsum_grandtxt span {
  color: #F16D7F;
  margin-left: 30px;
}

.cartsum_button {
  display: inline-block;
  text-align: center;
  justify-content: center;
  background: #F16D7F;
  border: 1px solid transparent;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
}

.cartsum_button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cartsum_gray_line {
  border: 1px solid #EAEAEA;
  background-color: #EAEAEA;
  margin-top: 21px;
  margin-bottom: 17px;
  margin-left: 43px;
  margin-right: 43px;
}

.itemm_cart {
  display: flex;
  width: 655px;
  background-color: #FFFFFF;
  box-shadow: 15px 15px 5px -5px rgba(0, 0, 0, 0.2);
  margin-right: 128px;
  position: relative;
}

.itemm_cart__second {
  margin-top: 40px;
}

.itemm_cart .itemm_img {
  width: 35%;
  display: block;
}

.itemm_cart .itemm-descripton {
  margin-bottom: 62px;
  width: 400px;
}

.itemm_cart .itemm-descripton h3 {
  width: 228px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 24px;
  margin-left: 31px;
  color: #222222;
  margin-bottom: 42px;
}

.itemm_cart .itemm-descripton p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-left: 31px;
}

.itemm_cart .itemm-descripton p span {
  color: #F16D7F;
}

.itemm_cart .fa-xmark {
  display: inline-block;
  position: absolute;
  font-size: 30px;
  z-index: 1;
  color: #575757;
  left: 95%;
  top: 10%;
}

.itemm_cart .fa-xmark:hover {
  color: #F16D7F;
}

.cart_button {
  background: #FFFFFF;
  color: #A4A4A4;
  border: 1px solid #A4A4A4;
  padding: 12px 20px;
  margin-top: 43px;
  margin-bottom: 60px;
}

.cart_button:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.cat-filter {
  background-color: #fff;
}

.cat-filter .filter_flex {
  display: flex;
}

.cat-filter .filter_flex .filter-relative {
  display: flex;
  position: relative;
}

.cat-filter .filter_flex .filter-sign {
  display: flex;
  align-items: center;
}

.cat-filter .filter_flex .filter-sign p {
  display: inline-block;
  height: 20px;
  padding-right: 11px;
}

.cat-filter .filter_flex .filter-sign i {
  display: inline-block;
  font-size: 16px;
}

.cat-filter .filter_flex .filter-sign:hover {
  color: #F16D7F;
}

.cat-filter .select_box {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 340px;
}

.cat-filter .select_box_cat {
  align-items: center;
  justify-content: center;
}

.cat-filter .select_box__cat {
  padding-top: 50px;
}

.cat-filter .filter-link_box {
  padding-top: 20px;
  margin-bottom: 24px;
  font-weight: 400;
}

.cat-filter .filter-link_box .filter-link {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-top: 12px;
}

.cat-filter .filter-link_box .filter-link:hover {
  color: #F16D7F;
}

.cat-filter .filter-box {
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 80px;
  padding: 20px;
  display: none;
  z-index: 1;
}

.cat-filter .filter-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  width: 235px;
  padding: 10px;
  border-bottom: 1px solid #EBEBEB;
}

.cat-filter .filter-heading_brand {
  padding-bottom: 18px;
}

.cat-filter .filter-heading:hover .filter-link_box {
  display: block;
}

.cat-filter .filter-heading:hover {
  color: #F16D7F;
  font-weight: 500;
}

.filter-relative:hover .filter-box {
  display: block;
}

.filter-heading_box {
  display: flex;
}

.accordion input {
  display: none;
}

.accordion__content {
  display: none;
}

.accordion input:checked ~ .accordion__content {
  display: block;
  display: flex;
  flex-direction: column;
}

.accordion__header {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.accordion__header:hover {
  color: #F16D7F;
  font-weight: 500;
}

.pagination-box {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 20px 0 96px;
  width: 380px;
  padding: 10px;
  text-align: center;
  align-self: center;
}

.pagination i {
  color: #000000;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: #9F9F9F;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

ul.pagination li a.active {
  background-color: #ddd;
  color: #F16D7F;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}

@media (min-width: 375px) and (max-width: 1024px) {
  .container-main {
    width: 74%;
    margin: 0 auto;
  }
  #hide {
    display: none;
  }
  .form {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .form .part1 {
    width: 300px;
    align-self: center;
    padding-bottom: 40px;
  }
  .form .part2 {
    padding-right: 0;
  }
  .select_box {
    width: 100%;
    padding-left: 378px;
  }
}

@media (max-width: 376px) {
  .container-main {
    width: 85%;
    margin: 0 auto;
  }
  #hide {
    display: none;
  }
  .pro-top {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 10px;
  }
  .pro-top h2 {
    display: inline-block;
    padding-bottom: 20px;
  }
  .cat-filter .select_box {
    padding-left: 5px;
  }
  .select_box select {
    margin-right: 0;
  }
  .form .email {
    width: 200px;
    width-width: 200px;
  }
  .footer {
    flex-direction: column;
  }
  .icons,
  .footer__text {
    align-self: center;
  }
  .footer__text {
    padding-bottom: 20px;
  }
}

.for_image_2 {
  background: #F1E4E6;
}

.for_image_2 .man_block {
  display: flex;
}

.for_image_2 .banner {
  display: flex;
  align-items: center;
}

.for_image_2 .banner__text {
  font-family: 'Lato';
}

.for_image_2 .brand_text {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  color: #222222;
  padding-left: 16px;
}

.for_image_2 .luxerious_text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #222222;
  padding-left: 16px;
}

.for_image_2 .fashion_text {
  color: #F16D7F;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  margin-left: 5px;
}

.categories_box {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}

.categoria {
  position: relative;
}

.categoria__img {
  display: inline-block;
}

.categoria__text {
  position: absolute;
  left: 30%;
  top: 45%;
  text-align: center;
  text-decoration: none;
}

.categoria_acc {
  padding-top: 32px;
  position: relative;
}

.accesories {
  display: flex;
  left: 520px;
  top: 100px;
}

.first_text {
  color: #FFFFFF;
  font-size: 16px;
}

.second_text {
  color: #F16D7F;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 38.4px;
}

.i_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 48px;
}

.i_text h3 {
  display: inline-block;
  font-size: 30px;
  padding-bottom: 6px;
}

.i_text p {
  display: inline-block;
  font-size: 14px;
  color: #9F9F9F;
}

.for_image_3 {
  background-image: url(images/signs.png);
}

.signs_box {
  display: flex;
  padding-top: 103px;
  padding-bottom: 104px;
  justify-content: space-between;
}

.signs_box .signs {
  text-align: center;
}

.signs_box .signs:hover {
  transition: all 0.3s;
  transform: scale(1.3);
}

.signs_box .sign__text {
  display: inline-block;
  text-decoration: none;
  color: #FBFBFB;
  width: 340px;
}

.signs_box .sign_mtext {
  padding-top: 30px;
  display: inline-block;
  padding-bottom: 16px;
  font-size: 19.96px;
}

.signs_box .sign_text {
  font-size: 13.972px;
}

.i_button {
  display: inline-block;
  text-align: center;
  justify-content: center;
  background: #F16D7F;
  border: 1px solid transparent;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
}

.i_button:hover {
  background: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
